@tailwind base;
@tailwind components;
@tailwind utilities;

header li ul{
  @apply px-5
}

 .bg-head{
  background-color: rgb(37, 37, 37);
}

.bg-home{
  background-color: rgb(35, 35, 35);
}
.bg-About-Head{
  background-color: rgb(37, 37, 37);
}

.prograss{
  width: 45%;
}
/* .circular--square { border-radius: 50%; } */

/* @font-face {
  font-family: 'Kingthings_Printingkit';
  src: local('Kingthings_Printingkit') url('./font/Kingthings_Printingkit.ttf') format('truetype');
}
.funky{
  font-family: 'Kingthings_Printingkit';
  font-size: 20px;
  text-align: center;

} */

/* .mob-nav{
  @apply fixed top-14 bg-black h-full w-full,
  
} */
.mob-nav{
  background-color: #222222;
  @apply fixed top-14 h-full w-full
}
.mob-nav ul{
  @apply py-2;
}