@tailwind base;
@tailwind components;
@tailwind utilities;



header li ul{
  @apply px-5
}

 .bg-head{
  background-color: rgb(37, 37, 37);
}

.bg-home{
  background-color: rgb(35, 35, 35);
}
.bg-About-Head{
  background-color: rgb(37, 37, 37);
}

.prograss{
  width: 45%;
}

.slider-container {
  width: 100%;
  overflow: hidden; /* Hide any overflowing slides */
  display: flex;
  justify-content: center;
}

.project-card {
  flex: 0 0 45%; /* Ensure two projects are displayed side by side */
  margin: 0 10px;
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}



/* Optional: You can adjust padding/margins for the slide content */
.p-5 {
  padding: 1.25rem; /* Adjust this value as needed */
}

/* .circular--square { border-radius: 50%; } */

/* @font-face {
  font-family: 'Kingthings_Printingkit';
  src: local('Kingthings_Printingkit') url('./font/Kingthings_Printingkit.ttf') format('truetype');
}
.funky{
  font-family: 'Kingthings_Printingkit';
  font-size: 20px;
  text-align: center;

} */

/* .mob-nav{
  @apply fixed top-14 bg-black h-full w-full,
  
} */
.mob-nav{
  background-color: #222222;
  @apply fixed top-14 h-full w-full
}
.mob-nav ul{
  @apply py-2;
}