@tailwind base;
@tailwind components;
@tailwind utilities;

header li ul{
  @apply px-3
}

 .bg-head{
  background-color: rgb(34, 34, 34);
}

/* @font-face {
  font-family: 'Kingthings_Printingkit';
  src: local('Kingthings_Printingkit') url('./font/Kingthings_Printingkit.ttf') format('truetype');
}
.funky{
  font-family: 'Kingthings_Printingkit';
  font-size: 20px;
  text-align: center;

} */

/* .mob-nav{
  @apply fixed top-14 bg-black h-full w-full,
  
} */
.mob-nav{
  background-color: #222222;
  @apply fixed top-14 h-full w-full
}
.mob-nav ul{
  @apply py-2;
}